<div class="container--flex">
    <img [src]="sharedIcon" class="img-header">
</div>
<div class="container-gold">
    <img [src]="sharedGold" class="img-gold">
</div>
<div id="video-containmer">
    <div id="video-fondo">
        <video class="video" autoplay loop muted>
            <source src="../../../assets/video/Age of Empires 4 - Official Gameplay Trailer - X019.mp4#t=20,56"
                type="video/mp4">
        </video>
    </div>
    <div id="video-sobre">
        <video width="1000" height="500" autoplay loop muted>
            <source src="../../../assets/video/Age of Empires 4 - Official Gameplay Trailer - X019.mp4#t=20,56"
                type="video/mp4">
        </video>
    </div>
    <div id="img-sobre">
        <img [src]="logo" class="img-header">
    </div>
    <div id="developed-Y" class="developed">
        <p>Powered by</p>
        <h1>Yonathan Gonzalez</h1>
    </div>
    <app-civilization></app-civilization>
    <a href="#" class="btn-flotante" (click)="openDialog()">Contact us!</a>

</div>

